$m : magenta;$w : '1';
$gc:(
    "centerCol1" : 5,
    "centerCol2" : 6,
    "centerRow1" : 4,
    "centerRow2" : 5
);
@function gmk($name, $value){
    @return map-get($map: $name, $key: $value)
};
body{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(9, 90px);
    gap: 2px;
    .row1{
        $i : -3;
        @while ($i >= 3){
            div#{$i}{
                background-color: $m;
                grid-column-start: gmk($gc, 'centerCol1') - $i;
                grid-column-end: gmk($gc, 'centerCol2') - $i;
                grid-row-start: 3;
                grid-row-end: 4;
                padding: 3px;
            }
            $i : $i + 1
        }
    }
    .row2{
        $i : -3;
        @while ($i >= 3){
            div#{$i}{
                background-color: $m;
                grid-column-start: gmk($gc, 'centerCol1') - $i;
                grid-column-end: gmk($gc, 'centerCol2') - $i;
                grid-row-start: 4;
                grid-row-end: 5;
                padding: 3px;
            }
            $i : $i + 1
        }
    }
    .row3{
        $i : -3;
        @while ($i >= 3){
            div#{$i}{
                background-color: $m;
                grid-column-start: gmk($gc, 'centerCol1') - $i;
                grid-column-end: gmk($gc, 'centerCol2') - $i;
                grid-row-start: 5;
                grid-row-end: 6;
                padding: 3px;
            }
            $i : $i + 1
        }
    }
}











