<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Crawler</title>
</head>

<body>
    <h1>Image Crawler</h1>
    <form action="/" method="POST">
        <label for="url">Enter URL: </label><br>
        <input type="text" id="url" name="url" required><br><br>
        <input type="submit" value="Crawl Images">
    </form>
    <div>
        {% if image_urls %}
            {% for img_url in image_urls %}
                <img src="{{ img_url }}" alt="Image">
            {% endfor %}
        {% endif %}
    </div>
</body>

</html>