body {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 90px);
  gap: 2px;
}

body:nth-child(1) {
  background-color: magenta;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(2) {
  background-color: magenta;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(3) {
  background-color: magenta;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(4) {
  background-color: magenta;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(5) {
  background-color: magenta;
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(6) {
  background-color: magenta;
  grid-column-start: -1;
  grid-column-end: 0;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(7) {
  background-color: magenta;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(8) {
  background-color: magenta;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(9) {
  background-color: magenta;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(10) {
  background-color: magenta;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(11) {
  background-color: magenta;
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(12) {
  background-color: magenta;
  grid-column-start: -1;
  grid-column-end: 0;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(13) {
  background-color: magenta;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(14) {
  background-color: magenta;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(15) {
  background-color: magenta;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(16) {
  background-color: magenta;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(17) {
  background-color: magenta;
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(18) {
  background-color: magenta;
  grid-column-start: -1;
  grid-column-end: 0;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(19) {
  background-color: magenta;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(20) {
  background-color: magenta;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(21) {
  background-color: magenta;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(22) {
  background-color: magenta;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(23) {
  background-color: magenta;
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}

body:nth-child(24) {
  background-color: magenta;
  grid-column-start: -1;
  grid-column-end: 0;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}