body{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 6px;
    background-color: aquamarine;
}
.cardArea{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 8;
    background-color: chocolate;
    display: grid;
}

.card-back{
    background-image: url('/MemoryCardGame/images/cardback.png');

}

.card-front{

}