.calcBody {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(10, 90px);
    background-color: rgb(210, 87, 39);
    font-family: Arial, sans-serif;
    grid-gap: 2px; 
    font-size: 50px;
    min-width: 1fr;
}

.screen{
    grid-row: 3 / 4;
    grid-column: 4 / 10;
    background-color: rgb(153, 151, 151);
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 25px;
}

.operationsBackground{
    grid-row: 3 / 8;
    grid-column: 4 / 10;
    background-color: rgb(11, 8, 8);
    border-radius: 3px;
}

.calc0{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 7 / 8;
    grid-column: 5 / 6;
    margin: 3px;
    margin-bottom: 8px;
    text-align: center;
    line-height: 75px;
}

.calc1{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-left: 8px;
}

.calc2{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calc3{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 4 / 5;
    grid-column: 6 / 7;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calc4{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-left: 8px;
}

.calc5{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 5 / 6;
    grid-column: 5 / 6;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calc6{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 5 / 6;
    grid-column: 6 / 7;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calc7{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 6 / 7;
    grid-column: 4 / 5;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-left: 8px;
}

.calc8{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 6 / 7;
    grid-column: 5 / 6;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calc9{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 6 / 7;
    grid-column: 6 / 7;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calcAdd{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 4 / 5;
    grid-column: 7 / 8;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calcSubtract{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 5 / 6;
    grid-column: 7 / 8;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calcMultiply{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 6 / 7;
    grid-column: 7 / 8;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calcDivide{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 7 / 8;
    grid-column: 7 / 8;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-bottom: 8px;
}
.cs{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 7 / 8;
    grid-column: 4 / 5;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.equals{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 7 / 8;
    grid-column: 6 / 7;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-bottom: 8px;
}

.backspace{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 7 / 8;
    grid-column: 9 / 10;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.calcSin{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 4 / 5;
    grid-column: 8 / 9;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calcCos{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 5 / 6;
    grid-column: 8 / 9;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calcTan{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 6 / 7;
    grid-column: 8 / 9;
    margin: 3px;
    text-align: center;
    line-height: 75px;
}

.calcNatLog{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 6 / 7;
    grid-column: 9 / 10;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-right: 8px;
}

.calcLog{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 5 / 6;
    grid-column: 9 / 10;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-right: 8px;
}

.calcExpo{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 4 / 5;
    grid-column: 9 / 10;
    margin: 3px;
    text-align: center;
    line-height: 55px;
    margin-right: 8px;
}

.calcSqrt{
    border-radius: 10px;
    background-color: magenta;
    grid-row: 7 / 8;
    grid-column: 8 / 9;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    margin-bottom: 8px;
}

#button{
    transition: background-color 300ms;
}

#button:hover {
    background-color: red;
}

@media screen and (max-width: 600px){
    .calcBody{
        font-size: 25px;
    }
}