
.flex-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#player{
    background-color: aquamarine;
    position: relative;
}
.wall{
    background-color: grey;
}

.winning{
    background-color: green;
}